*{
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    background-color: blue;
    width: 100%;
    color: white;
}

.navbar-wrapper {
    position: relative;
}

.navbar-location {
    position: absolute;
    margin: 0;
    left: 100px;
    top: 18px;
    font-weight: 300;
    color: white;
}

.menu-icon-wrapper {
    margin: 15px;
}

.test {
    height: 3000px;
}

.narrowLinks {
    display: none;
}

.narrowLinks a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.narrowLinks a:hover {
    opacity: 0.8;
}

.bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}